

.body-padding{
	/*padding-left: 50px !important;*/
	/*padding-right: 50px !important;*/
}
.row-padding{
	padding-left: 2%;
	padding-right: 3%;
}
.top-nav p{
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	/*line-height: 12px;*/
	letter-spacing: 0.02em;
	color: #8CAAAB;
	margin-left: 10px;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;

}

.year{
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 0.002em;
	color: #8CAAAB;
	text-align: center;
}
.performace{
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: #003E42;
	text-align: center;

}
.round_tile{
	position: relative;
	left: -5px;
}

.mediacard-title{
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.015em;
	color: #003E42;
	flex: none;
	order: 0;
	flex-grow: 0;
	margin-bottom: 0px;

}
.mediacard-Subtitle{
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.002em;
	color: #4C787B;
	flex: none;
	order: 1;
	flex-grow: 0;
	margin-bottom: 0px;
}
.media-body{
	margin-left: 10px;
}
.bookmark-btn,.share-btn,.website-btn{
	border: 0px;
	background: none;
	/*margin-right: 10px;*/
}
.apply-btn{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 15px 24px;
	gap: 8px;
	width: 132px;
	height: 46px;
	background: #10DAAC;
	border-radius: 8px;
	flex: none;
	border: 0px;
	color: #FFFFFF;
	text-transform: uppercase;

}
.headings{
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 25px;
	letter-spacing: 0.015em;
	color: #003E42;
	flex: none;
	align-self: stretch;
	margin-bottom: 0px;
}
.heading-para-text{
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 24px;
	color: #4C787B;
}

.para-text{
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 0.002em;
	color: #4C787B;
}
.review_div{
	background: #F7F9FC;
	border-radius: 8px;
	padding-bottom: 30px;
	margin-bottom: 20px;
}
.review{
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 22px;
	color: #003E42;
	margin-bottom: 0;

}
.reviewoutof5{
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.015em;
	color: #003E42;
	order: 1;
	margin-bottom: 0;
}
.review-text{
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	letter-spacing: 0.02em;
	color: #8CAAAB;
	order: 1;
	margin-bottom: 0;

}
.progressbar_heading{
	font-style: normal;
	font-weight: 500;
	font-size: 10px;
	line-height: 30px;
	letter-spacing: 0.02em;
	color: #4C787B;
	margin-bottom: 0px;
}
.progress{
	background: white !important;
	height: 8px !important;
}
.progress-bar{
	background: #006A71 !important;
	border-radius: 15px;
	width: 132px;
	height: 8px !important;
}
.progress_div{
	padding-left: 20px;
	padding-right: 20px;
}
.socialpara_text{
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #4C787B;
}
.social_media_icons{
	margin-right: 10px;
}
.facts_title{
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 0.002em;
	color: #8CAAAB;
	margin-bottom: 0px;
}
.facts_subtitle{
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #003E42;
	flex: none;
	order: 1;
	flex-grow: 0;

}

.nav_col{
	border-right: 1px solid #ECF4F3;
}
.navbar-brand{
	font-style: normal;
	font-weight: 700;
	font-size: 16px !important;
	line-height: 24px;
	letter-spacing: 0.015em;
	color: #003E42;
	margin-bottom: 30px;
}
.nav-item{
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 0.002em;
	color: #4C787B;
	display: flex;
	align-items: center;
}

/*.nav-item :active{
	background: #CFF9EC;
	border-radius: 8px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 12px 16px;
	gap: 8px;
	width: 231px;
	height: 46px;
	}*/
	.navbar-light .navbar-nav .nav-link{
		display: flex;
		align-items: center;
		gap: 10px;
		padding: 10px 10px;

	}

	.navbar-light .navbar-nav .nav-link.active{
		background: #CFF9EC;
		border-radius: 8px;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 8px;
		width: 231px;
		height: 46px;
	}
	/*-----------------------student development------------------*/
	.table{
		border: 1px solid #ECF4F3;
		border-left: 0px;
	}

	.table thead th {
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		color: #8CAAAB;


	}
	.table .body-border td{
		width: 100px;
		border: 1px solid #ECF4F3;
		text-align: left;
	}

	.table thead tr {
		border: 1px solid #ECF4F3;
		border-left: 0px;
		border-style: none;

	}

	.table tbody tr {
		border: 1px solid #ECF4F3;
		border-left: 0px;
		border-style: none;
	}

	.table .student_devlop th{
		text-align: -webkit-center;

	}
	.table .body-border td{
		text-align: -webkit-center;

	}
	.table .body-border td:first-child, .table .student_devlop th:first-child{ 
		text-align: left; 
		padding-left: 4% !important;
	};

	

	.student-para{
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 24px;
		color: #4C787B;
		flex: none;
		order: 1;
		align-self: stretch;
		flex-grow: 0;
	}

	.skills_title{
		font-style: normal;
		font-weight: 700;
		line-height: 24px;
		letter-spacing: 0.015em;
		color: #003E42;
		flex: none;
		order: 0;
		flex-grow: 0;
		margin-bottom: 0px;
	}
	.skills_subtitle{
		font-style: normal;
		font-weight: 400;
		line-height: 24px;
		color: #8CAAAB;
		flex: none;
		order: 1;
		align-self: stretch;
		flex-grow: 0;
	}


	.below-avg{
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		color: #FF7E67;

		display: flex;
		justify-content: center;
		align-items: center;
		width: 114px;
		height: 20px;
		background: #FFE5E1;
		border-radius: 13px;
		margin-top: 10px;
	}
	.below-avg p{
		margin-bottom: 0;
	}

	.outstanding{
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		color: #10DAAC;

		display: flex;
		justify-content: center;
		align-items: center;
		width: 114px;
		height: 20px;
		background:  #CFF9EC;
		border-radius: 13px;
		margin-top: 10px;

	}
	.outstanding p{
		margin-bottom: 0;

	}

	.avrg{
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		color:  #FFC42B;

		display: flex;
		justify-content: center;
		align-items: center;
		width: 114px;
		height: 20px;
		background:  #FFF3D5;
		border-radius: 13px;
		margin-top: 10px;

	}
	.avrg p{
		margin-bottom: 0;

	}

	.good{
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		color:   #006A71;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 114px;
		height: 20px;
		background:   #ECF4F3;
		border-radius: 13px;
		margin-top: 10px;

	}
	.good p{
		margin-bottom: 0;

	}

	.verygood{
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		color:   #18C2E7;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 114px;
		height: 20px;
		background:   #D1F3FA;
		border-radius: 13px;
		margin-top: 10px;

	}
	.verygood p{
		margin-bottom: 0;

	}

	.visit-btn{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 15px 24px;
		gap: 8px;
		width: 88px;
		height: 46px;
		background: #10DAAC;
		border-radius: 8px;
		flex: none;
		order: 0;
		flex-grow: 0;
		border: 0px;
		color: #FFFFFF;
	}
	.parameter_div{
		background: #F7F9FC;
		border-radius: 16px;

	}
	/*---------------facilities and infrastructure----------*/
	.radio_labels{
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		letter-spacing: 0.002em;
		color: #003E42;
		line-height: 40px;

	}
	.facilites_headings{
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		letter-spacing: 0.015em;
		color: #000000;
		flex: none;
		order: 0;
		flex-grow: 0;
	}
	/*---------------extra curricural----------*/
	.curricural-headings{
		font-style: normal;
		font-weight: 700;
		font-size: 20px;
		letter-spacing: 0.015em;
		color: #003E42;
		margin-left: 30px;
		margin-top: 5px;
	}


	.table .table-head th{
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.015em;
		color: #003E42;
		flex: none;
		order: 1;
		flex-grow: 0;
		border-top: 1px solid #ECF4F3;
		padding-bottom: 15px;
		padding-top:15px ;
	}

	.table .table-body td,.contact{
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 22px;
		letter-spacing: 0.002em;
		color: #4C787B;
		flex: none;
		order: 0;
		flex-grow: 0;
		padding-bottom: 15px;
		padding-top:15px ;
	}
	.curricural-table{
		border: 0px;
	}
	.table>:not(:last-child)>:last-child>* {
		border-bottom-color: #ECF4F3 !important;
	}

	/*----------------------fee and AED -----*/


	.table .table-fee-body td:first-child{ 
		width: 270px;
	}

	.fee-btn{
		flex-direction: row;
		align-items: center;
		padding: 8px 16px;
		gap: 12px;
		height: 40px;
		background: #D1F3FA;
		border-radius: 8px;

		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 22px;
		letter-spacing: 0.002em;
		color: #18C2E7;
		border: 0px;
	}
	.fee_update_tag{
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 22px;
		letter-spacing: 0.002em;
		text-decoration-line: underline;
		color: #10DAAC;
	}

	.verified_btn{
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		line-height: 12px;
		letter-spacing: 0.02em;
		color: #FFFFFF;
		padding: 4px;
		gap: 5px;
		width: 102px;
		height: 20px;
		background: #18C2E7;
		border-radius: 3px;
		border: 0px;
	}

	.modal-dialog {
		max-width: 50% !important;
		margin: 1.75rem auto;
	}
	.modal-body {
		/*position: relative;*/
		flex: 1 1 auto;
		padding: 2rem !important;
		
background-image: url('../imgs/union.png');
		width: 100%;
	    position: absolute;
	    right: 0;
	    top: 0;
	}
	
	.modal-heading{
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		letter-spacing: 0.015em;
		color: #003E42;
		margin-bottom: 20px;
		margin-top: 10px;
	}
	.form-labels{
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		line-height: 12px;
		letter-spacing: 0.02em;
		color: #4C787B;
		flex: none;
		order: 0;
		align-self: stretch;
		flex-grow: 0;
	}
	.modal-inputs{

		height: 52px;
		background: #FDFDFD;
		border-radius: 8px;
	}
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	.Submit_btn{
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 16px;
		text-align: center;
		letter-spacing: 0.01em;
		text-transform: uppercase;
		color: #FFFFFF;

		display: flex;
		justify-content: center;
		align-items: center;
		padding: 15px 24px;
		gap: 16px;

		width: 154px;
		height: 46px;
		background: #10DAAC;
		border-radius: 8px;
		border: 0px;
		margin-top: 10px;
	}
	.btn-close{
		float: right;
		width: 5px !important;
		height: 5px !important;
		background: #003E42;
		margin-top: 15px;

	}

	.hr-border{
		border: 1px solid #F1F1F1;
		/*margin-top: 20px;*/
		margin-bottom: 20px;
	}

	.contactus-btn{
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 16px;
		text-align: center;
		letter-spacing: 0.01em;
		color: #FFFFFF;
		background: #10DAAC;
		border-radius: 8px;
		padding: 15px 24px;
		gap: 5px;
		display: flex;

		width: 168px;
		height: 46px;
		border: 0px;
	}

	.accordion-item:first-of-type .accordion-button{
		background: none !important;
		box-shadow: none;
	}
	.accordion-button::after{
		position: absolute;
		right: 30px;
	}
	.accordion-item{
		border: 0px !important;
	}

	.navbar-center{
		display: flex !important;
		justify-content: center !important;
	}

	/*--------------Media Query------------------*/
	@media only screen and (min-width: 320px) and (max-width: 990px) {
		.contact_navbar{
			display: none;
		}
		.navbar-center{
			justify-content: start !important;
		}
	}
	@media only screen and (min-width: 320px) and (max-width: 678px) {
		.rating-box{
			width: 105px;
			margin: 0px !important;

		}
		.modal-dialog{
			max-width: 100% !important;
		}
		.below-avg,.avrg,.outstanding,.good,.verygood{
			width: 106px;

		}

	}

	@media only screen and (min-width: 1444px) and (max-width: 2652px) {
		.navbar {
			display: flex;
			justify-content: center;
		}
		.nav_col{
			flex: 0 0 auto !important;
			width: 15% !important;
		}
		.colum_9_4k{
			flex: 0 0 auto !important;
			width: 85% !important;
		}
		.headings{
			font-size: 26px;
		}
		.para-text,.radio_labels,.student-para,.nav-item,.table .table-body td,.table .table-head th 
		,.table thead th,.skills_title,.skills_subtitle,.heading-para-text
		{
			font-size: 15px;
		}
		.socialpara_text,.facts_title,.facts_subtitle,.facilites_headings{
			font-size: 19px;
		}
		.navbar-light .navbar-nav .nav-link.active{
			width: 270px;
		}

		.curricural-table{
			max-width: 60%;
		}
	}

	@media only screen and (max-width: 320px) {
		.overviewtop_row{
			padding: 0 !important;
		}
		.top-row{
			padding-right: 0 important;
		}

	}
	.top-row{
		padding-right: 8%;
	}
	/*----------------------------------------*/
	.highcharts-credits{
		display: none;
	}

	.chart_female{
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 22px;
		letter-spacing: 0.002em;
		color: #8CAAAB;
		margin-bottom: 0px;
	}
	.chart_female_per{
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 22px;
		letter-spacing: 0.002em;
		color: #003E42;
		margin-bottom: 0px;
	}

	.custom_radio {
		/* remove standard background appearance */
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		/* create custom radiobutton appearance */
		display: inline-block;
		width: 20px;
		height: 20px;
		padding: 4px;
		/* background-color only for content */
		background-clip: content-box;
		border: 2px solid #bbbbbb;
		background-color: #e7e6e7;
		border-radius: 50%;
		position: relative;
		top: 5px;
	}

	/* appearance for checked radiobutton */
	.custom_radio:checked {
		background-color: #003E42;
	}
	.star-counter{
		position: relative;
		top: 9px;
	}
	.accordion-body{
		padding: 0rem 1.25rem !important;

	}