.body-padding{
	padding-left: 40px;
	padding-right: 40px;
}
.mediacard-title{
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 40px;
	letter-spacing: 0.015em;
	color: #003E42;
	flex: none;
	order: 0;
	flex-grow: 0;
	margin-bottom: 0px;

}
.mediacard-Subtitle{
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 10px;
	letter-spacing: 0.002em;
	color: #4C787B;
	flex: none;
	order: 1;
	flex-grow: 0;
	margin-bottom: 0px;
}
.media-body{
	margin-left: 10px;
}
.bookmark-btn,.share-btn,.website-btn{
	border: 0px;
	background: none;
}
.apply-btn{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 15px 24px;
	gap: 8px;
	width: 132px;
	height: 46px;
	background: #10DAAC;
	border-radius: 8px;
	flex: none;
	order: 0;
	flex-grow: 0;
	border: 0px;
	color: #FFFFFF;
}
.headings{
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 0.015em;
	color: #003E42;
	flex: none;
	align-self: stretch;}

	.para-text{
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 22px;
		letter-spacing: 0.002em;
		color: #4C787B;
	}
	.review_div{
		background: #F7F9FC;
		border-radius: 8px;
		padding-bottom: 30px;
		margin-bottom: 20px;
	}
	.review{
		font-style: normal;
		font-weight: 700;
		font-size: 24px;
		line-height: 32px;
		color: #003E42;
		margin-bottom: 0;

	}
	.reviewoutof5{
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.015em;
		color: #003E42;
		order: 1;
		margin-bottom: 0;
	}
	.review-text{
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		letter-spacing: 0.02em;
		color: #8CAAAB;
		order: 1;
		margin-bottom: 0;

	}
	.progressbar_heading{
		font-style: normal;
		font-weight: 500;
		font-size: 10px;
		line-height: 30px;
		letter-spacing: 0.02em;
		color: #4C787B;
		margin-bottom: 0px;
	}
	.progress{
		background: white;
		height: 8px;
	}
	.progress-bar{
		background: #006A71;
		border-radius: 15px;
		width: 132px;
		height: 8px;
	}
	.progress_div{
		padding-left: 20px;
		padding-right: 20px;
	}
	.socialpara_text{
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		color: #4C787B;
	}
	.social_media_icons{
		margin-right: 10px;
	}
	.facts_title{
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 30px;
		letter-spacing: 0.002em;
		color: #8CAAAB;
		margin-bottom: 0px;
	}
	.facts_subtitle{
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		color: #003E42;
		flex: none;
		order: 1;
		flex-grow: 0;

	}

	.nav_col{
		border-right: 1px solid #ECF4F3;
	}
	.navbar-brand{
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.015em;
		color: #003E42;
	}
	.nav-item{
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 30px;
		letter-spacing: 0.002em;
		color: #4C787B;
		display: flex;
		align-items: center;
	}
	.nav-item .nav-link {
		display: flex;
		align-items: center;
	}

	.nav-item :active{
		background: #CFF9EC;
		border-radius: 8px;
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 12px 16px;
		gap: 8px;
		width: 231px;
		height: 46px;
	}

	/*-----------------------student development------------------*/
	.table{
		border: 1px solid #ECF4F3;
		border-left: 0px;
	}

	.table thead th {
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		color: #8CAAAB;

	}
	.table thead tr {
		border: 1px solid #ECF4F3;
		border-left: 0px;
		border-style: none;

	}
	.table tbody tr {
		border: 1px solid #ECF4F3;
		border-left: 0px;
		border-style: none;

	}

	.student-para{
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		color: #4C787B;
		flex: none;
		order: 1;
		align-self: stretch;
		flex-grow: 0;
	}

	.skills_title{
		font-style: normal;
		font-weight: 700;
		line-height: 24px;
		letter-spacing: 0.015em;
		color: #003E42;
		flex: none;
		order: 0;
		flex-grow: 0;
		margin-bottom: 0px;
	}
	.skills_subtitle{
		font-style: normal;
		font-weight: 400;
		line-height: 24px;
		color: #8CAAAB;
		flex: none;
		order: 1;
		align-self: stretch;
		flex-grow: 0;
	}

	*{
		margin: 0;
		padding: 0;
	}
	.rate {
		/*float: left;*/
		height: 46px;
		padding: 0 10px;
	}
	.rate:not(:checked) > input {
		position:absolute;
		top:-9999px;
	}
	.rate:not(:checked) > label {
		/*float:right;*/
		width:1em;
		overflow:hidden;
		white-space:nowrap;
		cursor:pointer;
		font-size:15px;
		color:#ccc;

	}
	.rate:not(:checked) > label:before {
		content: '★ ';

	}
	.rate > input:checked ~ label {
		color: #ffc700; 

	}
	.rate:not(:checked) > label:hover,
	.rate:not(:checked) > label:hover ~ label {
		color: #deb217;  
	}
	.rate > input:checked + label:hover,
	.rate > input:checked + label:hover ~ label,
	.rate > input:checked ~ label:hover,
	.rate > input:checked ~ label:hover ~ label,
	.rate > label:hover ~ input:checked ~ label {
		color: #c59b08;
	}

	/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */

	.below-avg{
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		color: #FF7E67;

		display: flex;
		justify-content: center;
		align-items: center;
		width: 114px;
		height: 20px;
		background: #FFE5E1;
		border-radius: 13px;
	}
	.below-avg p{
		margin-bottom: 0;
	}

	.outstanding{
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		color: #10DAAC;

		display: flex;
		justify-content: center;
		align-items: center;
		width: 114px;
		height: 20px;
		background:  #CFF9EC;
		border-radius: 13px;
	}
	.outstanding p{
		margin-bottom: 0;

	}

	.avrg{
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		color:  #FFC42B;

		display: flex;
		justify-content: center;
		align-items: center;
		width: 114px;
		height: 20px;
		background:  #FFF3D5;
		border-radius: 13px;
	}
	.avrg p{
		margin-bottom: 0;

	}

	.good{
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		color:   #006A71;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 114px;
		height: 20px;
		background:   #ECF4F3;
		border-radius: 13px;
	}
	.good p{
		margin-bottom: 0;

	}

	.verygood{
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		color:   #18C2E7;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 114px;
		height: 20px;
		background:   #D1F3FA;
		border-radius: 13px;
	}
	.verygood p{
		margin-bottom: 0;

	}

	.visit-btn{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 15px 24px;
		gap: 8px;
		width: 88px;
		height: 46px;
		background: #10DAAC;
		border-radius: 8px;
		flex: none;
		order: 0;
		flex-grow: 0;
		border: 0px;
		color: #FFFFFF;;
	}
	.parameter_div{
		background: #F7F9FC;
		border-radius: 16px;

	}